# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Old local SQLite database
assignment_tracker.db

# Flask
instance/

# Node
node_modules/
npm-debug.log*

# Environment variables
.env

# VS Code
.vscode/
